@font-face {
    font-family: 'icon';
    src: url('fonts/icon.eot?y8izl8');
    src: url('fonts/icon.eot?y8izl8#iefix') format('embedded-opentype'),
        url('fonts/icon.ttf?y8izl8') format('truetype'),
        url('fonts/icon.woff?y8izl8') format('woff'),
        url('fonts/icon.svg?y8izl8#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icon' !important;
    speak: none;
    font-size: 170%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
    content: "\e900";
}

.icon-trash:before {
    content: "\e901";
}

.icon {}

.messaggio {
    padding: 15px 25px;
    margin-top: 15px;
    font-family: Verdana;
}

.sended {
    background-color: rgba(14, 14, 123, 0.73);
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 0 10px 0 #000000;
    float: right;
}

.received {
    background-color: rgba(38, 38, 124, 0.41);
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 0 10px 0 #95a5a6;
    float: left;
}

.messaggio:hover {
    transition: 0.6s ease;
    filter: brightness(110%);
}

.sender {
    color: #9ACD32;
    font-size: medium;
}

.received .nome {
    color: black;
    font-size: medium;
}

.received .testo {
    color: black;
}

.sended .nome {
    color: aqua;
    font-size: medium;
}

.sended .testo {
    color: white;
}

.imgbin {
    max-width: 30px;
    height: auto;
    float: right;
}

.imgbin:hover {
    transition: 0.6s ease;
    filter: invert(100%);
}
