#chat > div{
  flex-direction: column;
  display: flex;
}
.container-message{
  position: relative;
  width: 100%;
  margin-top: 1%;
}
.sended > div{
  float: right;
  max-width: 85%;
}
.received > div{
  float: left;
  max-width: 85%;
}
.messaggio {
  padding: 2%;
  font-family: Verdana;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 4px;
}
.sended .messaggio{
  padding-right: 4%;
  background-color:#32465a ;
  float: right;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 98% 92%, 98% 0);
}
.received .messaggio{
  padding-left: 4%;
  background-color: #32465ad9;
  border-radius: 4px 4px 4px 4px;
  float: left;
  clip-path: polygon(2% 0%, 2% 92%, 0% 100%, 100% 100%, 100% 0%);
}
.received .nome {
  color: yellow;
  margin: 0;
}
.received .testo {
  color: white;
  padding: 1% 1% 0 1%;
  margin: 0;
}
.sended .nome {
  color: yellow;
  margin: 0;
}
.sended .testo {
  color: white;
  padding: 1% 1% 0 1%;
  margin: 0;
}
.imgbin {
  max-width: 30px;
  height: auto;
  float: right;
}
.imgbin:hover {
  transition: 0.6s ease;
  filter: invert(100%);
}
.imgmess {
  width: 60%;
  margin: 0 20%;
  float: right;
}
.sended .datehour{
  float: left;
  font-size: 12px;
  color: black;
}
.received .datehour{
  float: right;
  font-size: 12px;
  color: black;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
