.messaggio {
  padding: 15px 25px;
  margin-top: 10px;
  font-family: Verdana;
  width: 75%;
  font-size: 0.8rem;
  border-radius: 4px;
}
.sended {
  background-color: #05728f ;
  float: right;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 98% 92%, 98% 0);
}
.received {
  background-color: red;
  float: left;
  clip-path: polygon(2% 0%, 2% 92%, 0% 100%, 100% 100%, 100% 0%);
}
.messaggio:hover {
  transition: 0.3s ease;
  filter: brightness(105%);
}
.received .nome {
  color: black;
  font-size: medium;
}
.received .testo {
  color: black;
}
.sended .nome {
  color: aqua;
  font-size: medium;
}
.sended .testo {
  color: white;
  padding-right: 20px;
}
.imgbin {
  max-width: 30px;
  height: auto;
  float: right;
}
.imgbin:hover {
  transition: 0.6s ease;
  filter: invert(100%);
}
.imgmess {
  //max-width: 400px;
  //max-height: 400px;
  float: right;
}
