#profile{
	display: none;
}
#bluediv {
	background-color: #2c3e50;
	height: 100%
}
.top {
	color: white;
	text-align: center;
}
#profileimg {
	margin-left: 20%;
	width: 60%;
	box-shadow: 1px 1px 16px 1px black;
	background-color: white;
}
textarea {
	width: 100%;
	height: 25% !important;
	resize: none;
}
#safe {
	margin-left: 40%;
	margin-top: 1%;
}
#backbutton{
	margin-top: 2%;
	font-size: 3rem;
	color: white;
	cursor: pointer;
}
#backbutton:hover{
	color: black;
  text-shadow: 1px 1px 20px white;
}
