body{
  overflow: hidden;
}
.user-nav{
  height: 10%;
  box-shadow: 0 1px 11px -6px #000000;
}
.user-nav nav{
  border-bottom: 1px solid black;
}
.content-nav{
  height: 90%;
}
.left{
  width: 30%;
}
#users{
  height: 100%;
  overflow-y: scroll;
  background-color: #252830;
}
#users::-webkit-scrollbar {
  width: 5px;
}
#users::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #3e3e3e;
}
#users::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}
#chat{
  width: 70%;
  background-color: #e6e6e6;
}
#messageBar{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
}
#editProfile{
  cursor: pointer;
}
