.user{
  cursor: pointer;
  margin: 1rem 0;
}
.user:hover{
  background-color: #ffff0026;
}
.content-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-user{
  width: 70%;
  border-radius: 100%;
  background-color: white;
  box-shadow: 1px 1px 20px 0px #0000006b;
}
.dot{
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #808080bd;
}
.dot-green {
  box-shadow: inset -1px 0px 10px 1px #88ff88;
  background-color: green;
}
.dot-red {
  box-shadow: inset -1px 0px 10px 1px #ff8888;
  background-color: red;
}
