.user{
  cursor: pointer;
}
.user:hover{
  background-color: #b7dbe8;
}
.content-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-user{
  width: 60%;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px black;
}
.dot{
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  box-shadow: inset -1px 0px 10px 1px #ff8888;
  border: 1px solid #ccc;
}
.dot-green {
  background-color: green;
}
.dot-red {
  background-color: red;
}
