<div class="row" id="rowAllegati">

</div>

<div class="row pt-2" id="row1">
  <div class="col-10 pl-0 pr-0">
    <div class="sendmsg">
      <p class="send rounded-pill border" contenteditable="true"></p>
    </div>
  </div>
  <div class="col-1">
    <a class="btn btn-primary" id="coll"><i class="fa fa-chevron-down"></i></a>
  </div>
  <div class="col-1 pl-0 pr-0">
    <button type="button" class="btn btn-outline-dark">Invia</button>
  </div>
</div>

<div class="row pb-2" id="row2">
  <div>
    <button type="button" class="btn btn-secondary btn-circle-xl" id="addImage">
      <i class="far fa-images"></i>
    </button>
    <input type="file" multiple id="image" accept="image/*">

    <button type="button" class="btn btn-secondary btn-circle-xl" id="recordAudio">
      <i class="fas fa-microphone-alt"></i>
      <div id="timer">00:00</div>
    </button>

    <button type="button" class="btn btn-secondary btn-circle-xl" id="addLink">
      <i class="fas fa-link"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-circle-xl" id="addFile">
      <i class="far fa-file-alt"></i>
    </button>

    <button type="button" class="btn btn-secondary btn-circle-xl" id="coll2">
      <i class="far fa-smile"></i>
    </button>

  </div>
</div>

<div class="row" id="row3">
  <div class="col-md-12">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
        <tr>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
        <tr>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="rowLink" class="col-12 mt-1 mb-1">
  <div class="row">
    <label for="link" class="col-2">URL:</label>
    <input type="text" class="col-10 form-control" id="link">
  </div>
</div>
