<div class="row" id="row1">
  <div class="col-10 pl-0 pr-0">
    <div class="sendmsg border">
      <p class="send rounded-pill" contenteditable="true"></p>
    </div>
  </div>
  <div class="col-1">
    <a class="btn btn-primary" id="coll"><i class="fa fa-chevron-down"></i></a>
  </div>
  <div class="col-1 pl-0 pr-0">
    <button type="button" class="btn btn-outline-dark">Invia</button>
  </div>
</div>
<div class="row" id="row2">
  <div id="files" class="col-md-12">
    <button type="button" class="btn btn-secondary">File</button>
    <button type="button" class="btn btn-secondary">Audio</button>
    <button type="button" class="btn btn-secondary">Video</button>
    <button type="button" class="btn btn-secondary">Foto</button>
    <button type="button" class="btn btn-secondary" id="coll2"><i class="fa fa-chevron-down"></i></button>
  </div>
</div>
<div class="row" id="row3">
  <div class="col-md-12">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td><i class="em em-airplane_departure"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
        <tr>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
        <tr>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
          <td><i class="fa fa-plane"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
