@content
<div class="container-fluid pl-0 pr-0">
  @yield('_nav')
  <div class="row ml-0 mr-0 content-nav">
    <div class="left">
      <div id="profile">
      </div>
      <div class="border-right pt-3 pb-3 pl-2 pr-2" id="users">
      </div>
    </div>
    <div class="pl-0 pr-0" id="chat">
      <div class="container-fluid">
      </div>
      <div class="container-fluid pl-0 pr-0" id="messageBar">
        <div class="col-12">
          @yield('_messageBar')
        </div>
      </div>
    </div>
  </div>
</div>
@endcontent

@css
<link rel="stylesheet" href="assets/css/user.css"/>
<link rel="stylesheet" href="assets/css/messageBar.css"/>
<link rel="stylesheet" href="assets/css/emojii.css"/>
<link rel="stylesheet" href="assets/css/profile.css"/>
<link rel="stylesheet" href="assets/css/icon.css"/>
<link rel="stylesheet" href="assets/css/message.css"/>
@endcss

@js
<script src="assets/js/user.js" charset="utf-8"></script>
<script src="assets/js/messageBar.js" charset="utf-8"></script>
<script src="assets/js/profile.js" charset="utf-8"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="assets/js/recordAudio.js" charset="utf-8"></script>
<script src="assets/js/chat.js" charset="utf-8"></script>
@endjs
